<?xml version='1.0' encoding='utf-8' ?>
<widget id="io.cocoon.template.ads" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0" xmlns:cocoon="http://cocoon.io/ns/1.0">
    <name>Cocoon Ads Template</name>
    <description>
        Ads template for Cocoon.io cloud compiler based on Cocoon Ads Plugins (https://github.com/ludei/atomic-plugins-ads#javascript-api) and Pixi.js (https://github.com/GoodBoyDigital/pixi.js)
    </description>
    <author email="nazari@ludei.com" href="http://ludei.com/">
        Nazarí González
    </author>
    
    <!-- Shown in the wizard -->
    <icon src="icon.png" />

    <content src="index.html" />
    <access origin="*"/>

    <preference name="Orientation" value="landscape"/>
    <preference name="Fullscreen" value="true" />

    <cocoon:plugin name="com.ludei.canvasplus.ios" />
    <cocoon:plugin name="com.ludei.canvasplus.android" />  

    <!-- MoPub Base Plugins -->
    <cocoon:plugin name="cocoon-plugin-ads-ios-mopub" />
    <cocoon:plugin name="cocoon-plugin-ads-android-mopub" />
    <!-- MoPub Adapters -->
    <cocoon:plugin name="cocoon-plugin-ads-ios-mopub-adcolony" />
    <cocoon:plugin name="cocoon-plugin-ads-ios-mopub-admob" />
    <cocoon:plugin name="cocoon-plugin-ads-ios-mopub-chartboost" />
    <cocoon:plugin name="cocoon-plugin-ads-ios-mopub-millennial" />
    <cocoon:plugin name="cocoon-plugin-ads-android-mopub-adcolony" />
    <cocoon:plugin name="cocoon-plugin-ads-android-mopub-admob" />
    <cocoon:plugin name="cocoon-plugin-ads-android-mopub-chartboost" />
    <cocoon:plugin name="cocoon-plugin-ads-android-mopub-greystripe" />
    <cocoon:plugin name="cocoon-plugin-ads-android-mopub-inmobi" />
    <cocoon:plugin name="cocoon-plugin-ads-android-mopub-millennial" />

    <!-- Admob Base Plugins -->
    <cocoon:plugin name="cocoon-plugin-ads-ios-admob"/>
    <cocoon:plugin name="cocoon-plugin-ads-android-admob"/>

</widget>
